doctype html
html
  head 
    title Yash's Dance Acadmey
    block scripts
    block style
      script(src='/jquery.js')
  body
    nav#navbar 
        ul
          div#logo
            img(src='../static/final logo.png')
          li #[a(href="/") Home]
          li #[a(href="/") Services]
          li #[a(href="/") About Us]
          li #[a(href="/contact") Contact Us]


    block content
    footer#footer
      |Copyright © 2023 YashDanceAcadmey.com |All Rights Reserverd

      