//- index.pug
doctype html
html
  head
    title Yash's Dance Acadmey
    style
      include ../static/style.css
  body
    nav#navbar 
        ul
          div#logo
            img(src='../static/final logo.png')
          li #[a(href="/") Home]
          li #[a(href="/") Services]
          li #[a(href="/") About Us]
          li #[a(href="/") Contact Us]
    section#introSection 
      div Welcome To Yash's Dance Acadmey.
      div.small Eat Sleep Dance Repeat..
    section#missionSection
        h2 Our Mission
        div.card
            h5 Learn And Grow
            
      
        div.card
            h5 Opportunities
        div.card
            h5 Get Highlighted
          
      
    section#SponsorsSection 
      h2 Our Sponsors 
      div#sponsors
         img(src='../static/apple logo.png', alt="sponsor image ", class="spImage")
         img(src='../static/wolks logo.png', alt="sponsor image ", class="spImage")
         img(src='../static/micro logo.png', alt="sponsor image ", class="spImage")
         img(src='../static/instagram.png', alt="sponsor image ", class="spImage")
    footer#footer 
      |Copyright © 2023 YashDanceAcadmey.com |All Rights Reserverd



    
    script
      include ../static/index.js